<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sseproject1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sseproject1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sseProject1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sseProject1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sseproject1.database.windows.net,1433;Initial Catalog=sseDB;User ID=sseAdmin@sseproject1.database.windows.net;Password=sse1234Roach" Name="Data Source=tcp:sseproject1.database.windows.net,1433;Initial Catalog=sseDB;User Id=sseAdmin@sseproject1.database.windows.net;Password=sse1234Roach" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SSEProject.Models.ApplicationDbContext, SSEProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\Resources\To-Do-List.accdb;Persist Security Info=True;Jet OLEDB:Database Password=123456" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\Resources\To-Do-List.accdb;Persist Security Info=True;Jet OLEDB:Database Password=123456" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sseDBConnectionString" Order="3" Enabled="True">
          <Destination Path="Data Source=sseproject1.database.windows.net;Initial Catalog=sseDB;User ID=sseAdmin;Password=sse1234Roach" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sseproject1.database.windows.net;Initial Catalog=sseDB;User ID=sseAdmin;Password=sse1234Roach" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sseDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sseproject1.database.windows.net;Initial Catalog=sseDB;User ID=sseAdmin;Password=sse1234Roach" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sseDBConnectionString2" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sseproject1.database.windows.net;Initial Catalog=sseDB;Persist Security Info=True;User ID=sseAdmin;Password=sse1234Roach" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sseDBConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=sseproject1.database.windows.net;Initial Catalog=sseDB;Persist Security Info=True;User ID=sseAdmin;Password=sse1234Roach" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sseproject1.database.windows.net,1433;Initial Catalog=sseDB;User Id=sseAdmin@sseproject1.database.windows.net;Password=sse1234Roach</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sseDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=sseproject1.database.windows.net;Initial Catalog=sseDB;User ID=sseAdmin;Password=sse1234Roach</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sseDBConnectionString2-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>